# OS and editor files
.DS_Store
.idea/
.vscode/

# dependencies
node_modules/
package-lock.json
yarn.lock
/.pnp
.pnp.js

# testing
/coverage


## AWS Amplify and React build files
#build/
# DynamoDB local data_layer files
.dynamodb/
.dynamodb-jetty/

# MySQL Docker container files
db-data/

# Environment variables file
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end

# BLO big databases
bahai_BLO2018.sql
blo2023.sql
